* {
  margin: 0;
  padding: 0;
}

body {
  width: 30vw; 
  margin-left: auto;
  margin-right: auto; 
}

.container {
  background-color: ghostwhite;
  margin-top: 10vw;
  border-radius: 5px;
  box-shadow: 0 0 10px silver;
  padding: 20px;
}

.box{
  width: 100%;
  display: flex;
  flex-direction: column;  
  align-items: center;
  
}

.divInputRadio{
 margin: 5px 0;
  text-align: left;
}

form{
  align-content: center;
}

h1 {
  margin: 50px 0;
  color: cornflowerblue;
 
}
textarea{
  width: 100%;
}

input{
  margin: 5px 0;
}

